<div id="container">
  <mat-card>
    <mat-card-title>Todos</mat-card-title>
    <mat-card-header>
      <mat-list>
        <ng-container *ngFor="let todo of todos$ | async">
          <mat-list-item *ngIf="!todo.isClosed">
            <mat-checkbox
              [checked]="todo.isClosed"
              (change)="setTodo($event.checked, todo.title)"
            >
              {{ todo.title }}
            </mat-checkbox>
            <button [routerLink]="['todo/' + todo.title]" mat-icon-button matTooltip="Description" matTooltipPosition="right" color="primary" aria-label="Example icon button with a vertical three dot icon">
              <mat-icon>description</mat-icon>
            </button>
          </mat-list-item>
        </ng-container>
      </mat-list>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <ng-container *ngFor="let todo of todos$ | async">
          <mat-list-item  *ngIf="todo.isClosed">
            <mat-checkbox
              class="doneTodo"
              [checked]="todo.isClosed"
              (change)="setTodo($event.checked, todo.title)"
            >
              {{ todo.title }}
            </mat-checkbox>
          </mat-list-item>
        </ng-container>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
