#container {
  padding: 20px 20px 20px 20px;
  max-width: 700px;
  margin: auto;
}

mat-card-title {
  margin-bottom: 2rem;
}

mat-form-field {
  width: 100%;
}

button {
  position: absolute;
  top: -5px;
  right: 0;
}
